.box {
  width: 100px;
  height: 100px;
  position: absolute;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.box:hover {
  transition: 0.4s linear;
  border: 2px solid white;
}

.box-TopLeft {
  top: 0;
  left: 0;
  background-color: lightcoral;
  animation-name: TopLeft;
}

.box-TopRight {
  top: 0;
  right: 0;
  background-color: lightskyblue;
  animation-name: TopRight;
}

.box-BottomLeft {
  bottom: 0;
  left: 0;
  background-color: lightgreen;
  animation-name: BottomLeft;
}

.box-BottomRight {
  bottom: 0;
  right: 0;
  background-color: lightgoldenrodyellow;
  animation-name: BottomRight;
}

@keyframes TopLeft {
  100% {
    background-color: black;
    border-radius: 0 0 100px 0;
    top: 50%;
    left: 50%;
  }
}

@keyframes TopRight {
  100% {
    background-color: black;
    border-radius: 0 0 0 100px;
    top: 50%;
    right: 50%;
  }
}

@keyframes BottomLeft {
  100% {
    background-color: black;
    border-radius: 0 100px 0 0;
    bottom: 50%;
    left: 50%;
  }
}

@keyframes BottomRight {
  100% {
    background-color: black;
    border-radius: 100px 0 0 0;
    bottom: 50%;
    right: 50%;
  }
}
