.box--top-left {
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  background-color: lightcoral;
  position: absolute;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-name: RotateCenter;
  border: solid 0px #ffffff;
  transition: border-width 0.2s linear;
}

.box--top-right {
  width: 100px;
  height: 100px;
  top: 0;
  right: 0;
  background-color: lightskyblue;
  position: absolute;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-name: RotateCenter;
  border: solid 0px #ffffff;
  transition: border-width 0.2s linear;
}

.box--bottom-left {
  width: 100px;
  height: 100px;
  top: 100%;
  left: 0;
  background-color: lightgreen;
  position: absolute;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-name: RotateCenter;
  border: solid 0px #ffffff;
  transition: border-width 0.2s linear;
}

.box--bottom-right {
  width: 100px;
  height: 100px;
  top: 100%;
  right: 0;
  background-color: lightgoldenrodyellow;
  position: absolute;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-name: RotateCenter;
  border: solid 0px #ffffff;
  transition: border-width 0.2s linear;
}

.box--top-left:hover {
  border-width: 1px;
}

.box--top-right:hover {
  border-width: 1px;
}

.box--bottom-left:hover {
  border-width: 1px;
}

.box--bottom-right:hover {
  border-width: 1px;
}

@keyframes RotateCenter {
  0% {
    transform: rotate(0deg);
  }
  75% {
    border-radius: 50%;
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(270deg);
    background-color: black;
    border-radius: 100%;
    top: 50%;
    right: 50%;
    left: 50%;
  }
}
